{% extends 'base.html.twig' %}

{% block title %}Application Entreprises / Employés{% endblock %}

{% block body %}

    <h1>Application Entreprises / Employés</h1>

    <p>Bienvenue dans cette application permettant la gestion d'entreprises et de salariés. Ce projet sert d'introduction à Symfony.</p>

    <p>Il y a {{entreprises | length}} entreprises dans la base de données</p>
    
    <p>Il y a {{employes | length}} employés dans la base de données</p>

{% endblock %}
